.center
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 34px;
    line-height: 1.4;
    text-align: center;
    color: #fff;
    padding-top: 20;
}

.profile-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}